
target/
dbt_packages/
logs/
.user.yml
academy-test.duckdb
academy-test.duckdb.wal
package-lock.yml
poetry.lock
.json
temp/
academy-dbt-test-6eda8ac0ab9a.json
.env
dbt_env_setup.py
poetry.toml
poetry.env